<script src="~/Scripts/FreeSurveyMaker/free-survey-maker.js"></script>


<span class="add-question"><span class="addition-sign">+</span>Add Question</span>
<div class="blank-baked-question-panel"></div>
<div class="blank-editing-panel"></div>

@*<div class="col-sm-7 baked-question">
        <label class="user-question">Do you like vada pav</label>
        <div class="user-option-placeholder">

        </div>
    </div>*@

@*<div class="col-sm-7 question-editing-panel" id="UniqueId">
    <div class="row">
        <div class="col-sm-6">
            <textarea placeholder="Question" class="text-area"></textarea>
        </div>
        <div class="select">
            <select name='slct' id='option-dropdown'>
                <option value='1'>Multiple choice</option>
                <option value='2'>Paragraph</option>
                <option value='3'>Checkboxes</option>
            </select>
        </div>
    </div>
    <div class="row mg-top-15 all-options-placeholder">
        <div class="mg-left-15 options-placeholder"></div>
        <div class="mg-left-15 mg-top-10 default-multi-choice-option">
            <input type="radio" disabled />
            <label class="mg-left-3 add-multichoice-option">Add option</label>
        </div>
        <div class="mg-left-15 mg-top-10 default-paragraph">
            <input type="text" placeholder="Paragraph" disabled class="paragraph-input">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-default btn-submit">Submit</button>
        </div>
        <div class="col-sm-6">
            <span class='glyphicon glyphicon-trash trash-can' aria-hidden='true'></span>
        </div>
    </div>
</div>*@






